<html>
    <head>
        <title>Testing passing of data</title>
    </head>
    <body>
        <h1>
            Your answer is: {{key|safe}}
        </h1><br>
        <h1>
            The correct answer is: {{corr_answer|safe}}
        </h1><br>
        <h1>
            Your attempts are {{qnCount|safe}} and score is {{score|safe}}
        </h1><br>
        <form action="three" method="GET">
            <input type="submit" name="Quit" value="quit">
            <input type="submit" name="PlayAgain" value="playAgain">
        </form>
    </body>
</html>